<a href="https://colab.research.google.com/github/Svmaurya/Music-Recommendation-system/blob/main/song_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('ex.csv')

In [ ]:
df.head()

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
0,Aankh Marey,"Kumar Sanu, Mika Singh, Neha Kakkar",BollywoodDance,Simmba,8.8/10
1,Coca Cola,"Neha Kakkar, Tony Kakkar",BollywoodDanceRomantic,Luka Chuppi,9.0/10
2,Apna Time Aayega,Ranveer Singh,BollywoodDance,Gully Boy,9.7/10
3,Mungda,"Jyotica Tangri, Shaan, Subhro Ganguly",BollywoodDance,Total Dhamaal,9.1/10
4,Tere Bin,"Asees Kaur, Rahat Fateh Ali Khan, Tanishk Bagchi",BollywoodRomantic,Simmba,9.2/10

In [ ]:
print(df.shape)

(2420, 5)

In [ ]:
df.isnull().sum()

Song-Name          0
Singer/Artists    10
Genre              0
Album/Movie        3
User-Rating        0
dtype: int64

In [ ]:
df.duplicated().sum()

16

In [ ]:
df=df.drop_duplicates()

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

Song-Name         0
Singer/Artists    0
Genre             0
Album/Movie       0
User-Rating       0
dtype: int64

In [ ]:
df.iloc[0].Genre

'BollywoodDance'

In [ ]:
l=[]
for i in df['User-Rating']:
    l.append(i[:3])

In [ ]:
df.head()

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
0,Aankh Marey,"Kumar Sanu, Mika Singh, Neha Kakkar",BollywoodDance,Simmba,8.8/10
1,Coca Cola,"Neha Kakkar, Tony Kakkar",BollywoodDanceRomantic,Luka Chuppi,9.0/10
2,Apna Time Aayega,Ranveer Singh,BollywoodDance,Gully Boy,9.7/10
3,Mungda,"Jyotica Tangri, Shaan, Subhro Ganguly",BollywoodDance,Total Dhamaal,9.1/10
4,Tere Bin,"Asees Kaur, Rahat Fateh Ali Khan, Tanishk Bagchi",BollywoodRomantic,Simmba,9.2/10

In [ ]:
df['User-Rating']=l
df['Album/Movie']=df['Album/Movie'].str.replace(" ","")
df['Singer/Artists']=df['Singer/Artists'].str.replace(" ","")

In [ ]:
df.head()

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
0,Aankh Marey,"KumarSanu,MikaSingh,NehaKakkar",BollywoodDance,Simmba,8.8
1,Coca Cola,"NehaKakkar,TonyKakkar",BollywoodDanceRomantic,LukaChuppi,9.0
2,Apna Time Aayega,RanveerSingh,BollywoodDance,GullyBoy,9.7
3,Mungda,"JyoticaTangri,Shaan,SubhroGanguly",BollywoodDance,TotalDhamaal,9.1
4,Tere Bin,"AseesKaur,RahatFatehAliKhan,TanishkBagchi",BollywoodRomantic,Simmba,9.2

In [ ]:
df['tags']=df['Song-Name'] + df['Singer/Artists'] + df['Genre'] + df['Album/Movie'] + df['User-Rating']

In [ ]:
df.head()

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating,tags
0,Aankh Marey,"KumarSanu,MikaSingh,NehaKakkar",BollywoodDance,Simmba,8.8,"Aankh MareyKumarSanu,MikaSingh,NehaKakkarBolly..."
1,Coca Cola,"NehaKakkar,TonyKakkar",BollywoodDanceRomantic,LukaChuppi,9.0,"Coca ColaNehaKakkar,TonyKakkarBollywoodDanceRo..."
2,Apna Time Aayega,RanveerSingh,BollywoodDance,GullyBoy,9.7,Apna Time AayegaRanveerSinghBollywoodDanceGull...
3,Mungda,"JyoticaTangri,Shaan,SubhroGanguly",BollywoodDance,TotalDhamaal,9.1,"MungdaJyoticaTangri,Shaan,SubhroGangulyBollywo..."
4,Tere Bin,"AseesKaur,RahatFatehAliKhan,TanishkBagchi",BollywoodRomantic,Simmba,9.2,"Tere BinAseesKaur,RahatFatehAliKhan,TanishkBag..."

In [ ]:
ndf=df[['Song-Name','Album/Movie','tags']]

In [ ]:
ndf

,Song-Name,Album/Movie,tags
0,Aankh Marey,Simmba,"Aankh MareyKumarSanu,MikaSingh,NehaKakkarBolly..."
1,Coca Cola,LukaChuppi,"Coca ColaNehaKakkar,TonyKakkarBollywoodDanceRo..."
2,Apna Time Aayega,GullyBoy,Apna Time AayegaRanveerSinghBollywoodDanceGull...
3,Mungda,TotalDhamaal,"MungdaJyoticaTangri,Shaan,SubhroGangulyBollywo..."
4,Tere Bin,Simmba,"Tere BinAseesKaur,RahatFatehAliKhan,TanishkBag..."
...,...,...,...
2415,Jana Tumhare Pyar Mein,Sasural,Jana Tumhare Pyar MeinMukeshBollywoodDanceSasu...
2416,Tum Jaise Bigde Babu Se,JabPyarKisiSeHotaHai,Tum Jaise Bigde Babu SeLataMangeshkarBollywood...
2417,O Yaad Nahi Bhool Gaya,Lamhe,"O Yaad Nahi Bhool GayaLataMangeshkar,SureshWad..."
2418,Ladi Re Ladi Tujhse Aankh Jo Ladi,SholaAurShabnam,Ladi Re Ladi Tujhse Aankh Jo LadiJagjitKaurBol...
2419,Mummy Aur Daddy Mein Ladai Ho Gayi,SholaAurShabnam,Mummy Aur Daddy Mein Ladai Ho GayiAshaBhosleBo...

In [ ]:
ndf['tags'][0]

'Aankh MareyKumarSanu,MikaSingh,NehaKakkarBollywoodDanceSimmba8.8'

In [ ]:
ndf['tags']=ndf['tags'].apply(lambda x:x.lower())

C:\Users\91831\AppData\Local\Temp\ipykernel_2996\2135130794.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ndf['tags']=ndf['tags'].apply(lambda x:x.lower())

In [ ]:
ndf.head()

,Song-Name,Album/Movie,tags
0,Aankh Marey,Simmba,"aankh mareykumarsanu,mikasingh,nehakakkarbolly..."
1,Coca Cola,LukaChuppi,"coca colanehakakkar,tonykakkarbollywooddancero..."
2,Apna Time Aayega,GullyBoy,apna time aayegaranveersinghbollywooddancegull...
3,Mungda,TotalDhamaal,"mungdajyoticatangri,shaan,subhrogangulybollywo..."
4,Tere Bin,Simmba,"tere binaseeskaur,rahatfatehalikhan,tanishkbag..."

In [ ]:
! pip install nltk

Requirement already satisfied: nltk in c:\users\91831\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\91831\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\91831\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\91831\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\91831\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\91831\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [ ]:
import nltk
from nltk.stem import PorterStemmer
nltk.download('punkt')  # If you haven't downloaded the punkt tokenizer before

# Initialize the stemmer
ps = PorterStemmer()

# Define the stem function
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

# Now you can use the stem function
ndf['tags'].apply(stem)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\91831\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

0       aankh mareykumarsanu,mikasingh,nehakakkarbolly...
1       coca colanehakakkar,tonykakkarbollywooddancero...
2       apna time aayegaranveersinghbollywooddancegull...
3       mungdajyoticatangri,shaan,subhrogangulybollywo...
4       tere binaseeskaur,rahatfatehalikhan,tanishkbag...
                              ...
2415    jana tumhar pyar meinmukeshbollywooddancesasur...
2416    tum jais bigd babu selatamangeshkarbollywoodda...
2417    o yaad nahi bhool gayalatamangeshkar,sureshwad...
2418    ladi re ladi tujhs aankh jo ladijagjitkaurboll...
2419    mummi aur daddi mein ladai ho gayiashabhoslebo...
Name: tags, Length: 2391, dtype: object

In [ ]:
ndf['tags']=ndf['tags'].apply(stem)

C:\Users\91831\AppData\Local\Temp\ipykernel_2996\2121239825.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ndf['tags']=ndf['tags'].apply(stem)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = Countvectorizer(max_features=2391,stop_words='english')

NameError: name 'Countvectorizer' is not defined

In [ ]:
cv.fit_transform(ddf['tags']).toarray().shape

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=2391,stop_words='english')

In [ ]:
vector = cv.fit_transform(ndf['tags']).toarray()

In [ ]:
vector.shape

In [ ]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [ ]:
vector[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [ ]:
feature_names = cv.get_feature_names_out()
print(feature_names)

['18' '19' '69' ... 'zuke' 'zulf' 'zulfa']

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity=cosine_similarity(vector)

In [ ]:
sorted(list(enumerate(similarity[0])),reverse=True,key= lambda x:x[1])[1:6]

[(449, 0.5773502691896258),
 (607, 0.3333333333333334),
 (848, 0.3333333333333334),
 (1033, 0.2886751345948129),
 (1128, 0.2357022603955159)]

In [ ]:
ndf.head()

,Song-Name,Album/Movie,tags
0,Aankh Marey,Simmba,"aankh mareykumarsanu,mikasingh,nehakakkarbolly..."
1,Coca Cola,LukaChuppi,"coca colanehakakkar,tonykakkarbollywooddancero..."
2,Apna Time Aayega,GullyBoy,apna time aayegaranveersinghbollywooddancegull...
3,Mungda,TotalDhamaal,"mungdajyoticatangri,shaan,subhrogangulybollywo..."
4,Tere Bin,Simmba,"tere binaseeskaur,rahatfatehalikhan,tanishkbag..."

In [ ]:
ndf[ndf['Song-Name'] == 'Tere Bin'].index[0]

4

In [ ]:
def recommend(song):
    song_index = ndf[ndf['Song-Name'] == song].index
    if len(song_index) == 0:
        print("Song not found in dataset.")
        return
    song_index = song_index[0]
    distance = similarity[song_index]
    song_list = sorted(list(enumerate(distance)), reverse=True, key=lambda x: x[1])[1:6]

    for i in song_list:

        song_name = ndf.iloc[i[0]]['Song-Name']
        print(song_name)
        print(i[0])

In [ ]:
recommend('Aankh Marey')

Laila
449
Aapka Kya Hoga
607
Tooh
848
Taang Uthake
1033
Rani Tu Mein Raja (
1128